.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  color: #6a5183;
}

.grid-wrapper {
  flex: 1 1 300px;
  min-width: 300px;
  max-width: 500px;
}

.grid-header {
  text-align: center;
}
